*{
    padding: 0;
    margin: 0;
}

:root {
    --celeste: #2a99ab;
    --negro: #000000;
    --blanco: #ffffff;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: var(--blanco) !important;
    background-color: var(--negro) !important;
}


/* seccion header- navbar y carrousel */
header{
    position: relative;
}
#nav-position{
   position: fixed; 
   z-index: 50;
   width: 100%;
}
#nav{ 
    background-color: transparent;
    color: var(--blanco);
    padding: 10px  50px 0 50px;
    font-weight: 400;
    font-size: 1.1rem;
}
/* clase que se maneja con jquery para darle opacidad al navbar */
.scroll-nav {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.carousel-inner {
    width: 100%;
    height: auto;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* seccion quienes somos */
.title-section-quienesSomos{
    font-size: 1.7rem;
    padding: 32px;
    text-transform: uppercase;
}
.container-card{
    margin: 0 !important;
    gap: 20px;

}
#card-section-one{
    margin: 0 ;
    padding: 0 ;
    border-radius: 0;
    max-width: 430px;
    background-color: #000000;
    color: #ffffff;
}
.card-header{
    background-color: #2a99ab !important;
}
.card-header i{
    font-size: 1.5rem;
}

/* seccion destacados */
#destacados{
    width: 100%;   
}
#card-container-destacados{
    width: 100%;
    margin: 0 !important;
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.title-section-destacados{
    font-size: 1.7rem;
    padding: 32px;
    text-transform: uppercase;

}
.card-destacados{
    background-color: #2a99ab !important;
    color: #ffffff !important;
    width: 300px !important;
    padding: 0 !important;
    
}
.card-img-custom {
    height: 200px !important; /*  altura fija para que tengan el mismo tama;o*/
}

.textarea-form-custom{
    height: 240px;
}
#btn-custom {
    background-color: #2a99ab;
    color: #ffffff;
}

#footer{
    background-color: #2a99ab;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}
.text-footer{
    font-size: 1.5rem;
}
.container-icons-footer a i{
    font-size: 1.5rem;
    padding: 0 4px;
    text-decoration: none;
    color: #ffffff;
}