*{
    padding: 0;
    margin: 0;
}

:root {
    --celeste: #2a99ab;
    --negro: #000000;
    --blanco: #ffffff;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: var(--blanco) !important;
    background-color: var(--negro) !important;
} 

header{
    position: relative;
}
#nav-position{
   position: fixed; 
   z-index: 50;
   width: 100%;
}
#nav{ 
    background-color: transparent !important;
    color: var(--blanco);
    padding: 10px  50px 0 50px;
    font-weight: 400;
    font-size: 1.1rem;

}
.carousel-inner {
    height: 800px;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.title-section-one{
    font-size: 1.7rem;
    padding: 32px;
    text-transform: uppercase;
}
.container-card{
    gap: 20px;

}
#card-section-one{
    margin: 0 ;
    padding: 0 ;
    border-radius: 0;
    max-width: 400px;
    background-color: #000000;
    color: #ffffff;
}
.card-header{
    background-color: #2a99ab !important;
}
.card-header i{
    font-size: 1.2rem;
}